
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b58b63; 
}


header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.loga{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

nav {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    background-color: #f6efe8; 
    padding: 15px;
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

nav a.active {
    text-decoration: underline; 
}

h2 {
    text-align: center; 
    margin-bottom: 20px;
    color: #f6efe8; 
}


.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
}

.menu-card {
    flex: 0 1 48%; 
    background-color: #f6efe8; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;       /* Tvingar bilden att vara lika bred som rutan */
    height: 100%;      /* Tvingar bilden att vara lika hög som rutan */
    object-fit: cover; /* MAGI: Klipper bilden snyggt istället för att mosa den */
    display: block;    /* Tar bort eventuella små vita mellanrum under bilden */
}

h3 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}