
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #b58b63;
}


header {
    text-align: center;
    padding: 20px;
    
    margin-bottom: 10px;
}

.loga{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
    background-color: #f6efe8; 
    padding: 15px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline; 
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px; 
    gap: 20px; 
    grid-template-areas: 
        "hero   hero   hero   hero"
        "stort  stort  kaffe  tider"
        "stort  stort  inside   bulle";
}


.box {
    padding: 20px;
    display: grid;
    place-items: center;
    border-radius: 8px;
}



.hero {
    grid-area: hero;
    background-color: #f6efe8; 
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.stort {
    grid-area: stort;
    background-color: #f6efe8; 
    
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
}

.bread{
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}

.kaffe {
    grid-area: kaffe;
    background-image: url(../img/Kaffekopp.png);
    background-size: cover;
}

.tider {
    grid-area: tider;
    background-color: #f6efe8; 
}

.inside {
    grid-area: inside;
    background-image: url(../img/Kafémiljö.png);
    background-size: cover;
    
}


.bulle {
    grid-area: bulle;
    background-image: url(../img/Bulle.png);
    background-size: cover;

}
